In [11]:
name = "Sarah Ahmad"
age = "22"
Course_name = "Machine Learning"

print("My name is {0}, I am {1} years old. I am engaged in learning {2}".format(name, age, Course_name))

My name is Sarah Ahmad, I am 22 years old. I am engaged in learning Machine Learning

# New Section

In [21]:
name ="depi learning"
name_upper = name.upper()
print(name_upper)
name_lower = name_upper.lower()
print(name_lower)

DEPI LEARNING
depi learning

In [23]:
name = "Depi Learning Machine Learning. Depi Learning is great"
#name.count("Depi")
name.split()

['Depi', 'Learning', 'Machine', 'Learning.', 'Depi', 'Learning', 'is', 'great']

In [26]:
sentence = r'my name is "Sarah Ahmad"'
print(sentence)

my name is "Sarah Ahmad"

In [33]:
x = 20
X = 2
print(hex(id(x)))
print(hex(id(X)))

0x7ffc017dec18
0x7ffc017de9d8

In [11]:
List_One = [1, 2, 3, 4, 5, "Depi" ,"Learning", True,[1, 2, 3, "True", ["ml","dl","ai,""nlp"]]]
List_One[8][4][0] = "Deep Learning"
List_One

[1,
 2,
 3,
 4,
 5,
 'Depi',
 'Learning',
 True,
 [1, 2, 3, 'True', ['Deep Learning', 'dl', 'ai,nlp']]]

In [12]:
list = ["depi","learning","machine","learning"]
list.append("Amit")
list

['depi', 'learning', 'machine', 'learning', 'Amit']

In [13]:
list = ["depi","learning","machine","learning"]
list.insert(0,"Amit")
list

['Amit', 'depi', 'learning', 'machine', 'learning']

In [14]:
list1 = [1,2,3,4]
list2 = [6,7,8,9]
list1.extend(list2)
list1

[1, 2, 3, 4, 6, 7, 8, 9]

In [15]:
list = ["depi","learning","machine","learning"]
list.remove("depi")
list

['learning', 'machine', 'learning']

In [17]:
list = ["depi","learning","machine","learning"]
list.pop(1)
list

['depi', 'machine', 'learning']

In [18]:
list = ["depi","learning","machine","learning"]
del list[2]
list

['depi', 'learning', 'learning']

In [1]:
name = input("Enter your name: ")
id = input("Enter your ID: ")
print(f"My name is {name} and my ID is {id}.")

My name is Sarah Ahmad and my ID is 123456.

In [3]:
input_list = ["depi","learning","machine"]
item = input("Enter item to the list: ")
input_list.remove(item)
print(f"output list is: {input_list}")

output list is: ['learning', 'machine']

In [4]:
set1= {"depi", "learning", "machine"}
set1

{'depi', 'learning', 'machine'}

In [ ]:
a = 3
b = 5
__eq__ = (a , b)

In [ ]:
x = float(input("Enter x value: "))
y = float(input("Enter y value: "))
sum = x + y
sub = x - y
muli = x * y
div = x / y
print(f"Sum of {x} and {y} is: {sum}, Subtraction of {x} and {y} is: {sub}, Multiplication of {x} and {y} is: {muli}, Division of {x} and {y} is: {div}")

Sum of 10.0 and 7.0 is: 17.0, Subtraction of 10.0 and 7.0 is: 3.0, Multiplication of 10.0 and 7.0 is: 70.0, Division of 10.0 and 7.0 is: 1.4285714285714286

In [9]:
x = 5
result = "Even number" if x % 2 == 0 else "Odd number"
print(result)

Odd number

In [ ]:
a = 200
b = 33
result = "b greater than a" if b > a else "a greater than b" if a > b else "a and b are equal"
result

'a and b are equal'

In [12]:
a = 10
b = 5
result = a+b if a > b else a-b
result

15

In [21]:
age = 12
print("Adult") if age >= 18 else print("Teenager") if age >= 13 else print("Child")

Child

In [24]:
Grade = int(input("Enter your Grade: "))
if Grade >= 0 and Grade <= 100:
    if 100 >= Grade >= 90:
        print("A")
    elif 90 >= Grade >= 80:
        print("B")
    elif 80 >= Grade >= 70:
        print("C")
    elif 70 >= Grade >= 60:
        print("D")
    else:
        print("F")
else:
    print("Please enter a value between 0 and 100")

B

In [25]:
for i in range(0, 6):
    if i==3:
        continue
    print(i)

0
1
2
4
5

In [26]:
for i in range(0, 6):
    if i==3:
        break
    print(i)

0
1
2

In [27]:
for i in range(0, 6):
    if i==3:
        pass
    print(i)

0
1
2
3
4
5